@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <h1 class="text-center">Music Store Purchase Management System</h1>
    <p class="lead text-center">An MVC service website with database read and write functionality, user purchase logging using Entity Framework, and customized Spotify Widget injection</p>
    <p class="text-center"><a href="/Customer" class="btn btn-primary btn-lg">Go To Customers&raquo;</a></p>
</div>
